# Xcode
*.xcuserstate
xcuserdata/
*.xcscmblueprint
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Ruby / Bundler
.bundle/
vendor/bundle/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
fastlane/logs/

# Swift Package Manager
.build/
